nav {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

ul {
  display: flex;
  border: 1px solid red;
  margin: 0;
  padding: 0;
  width: 50%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

li {
  list-style: none;
  display: inline-block;
}

@media (max-width: 450px) {
  nav,
  ul {
    flex-direction: column;
  }
}
