header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 70%;
  padding: 10px;
}

h2 {
  text-align: start;
}

p {
  text-align: start;
}

label {
  text-align: start;
  justify-content: flex-start;
}
